.mainBox {
  border-bottom: 1px solid #eaeaea;
  padding-bottom: 4rem;
  width: 100%;

  background: transparent
    url(http://www.script-tutorials.com/demos/360/images/clouds3.png) repeat top
    center;
  z-index: 3;

  -moz-animation: move-clouds-back 200s linear infinite;
  -ms-animation: move-clouds-back 200s linear infinite;
  -o-animation: move-clouds-back 200s linear infinite;
  -webkit-animation: move-clouds-back 200s linear infinite;
  animation: move-clouds-back 200s linear infinite;
}

.mainTitle {
  display: flex;
  justify-content: center;
}

.leftLamp {
  margin-bottom: 20px;
  margin-right: -25px;
}

.rightLamp {
  margin-bottom: 20px;
  margin-left: -25px;
}

.candy {
  color: #ff6500;
}

.candyDark {
  color: #18191a;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 8rem;
  font-family: 'JeanSunHo Medium';
  font-weight: normal;
  color: #340bb3;
}

@keyframes move-clouds-back {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 10000px 0;
  }
}
@-webkit-keyframes move-clouds-back {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 10000px 0;
  }
}
@-moz-keyframes move-clouds-back {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 10000px 0;
  }
}
@-ms-keyframes move-clouds-back {
  from {
    background-position: 0;
  }
  to {
    background-position: 10000px 0;
  }
}

.clouds {
  background: transparent
    url(http://www.script-tutorials.com/demos/360/images/clouds3.png) repeat top
    center;
  z-index: 3;

  -moz-animation: move-clouds-back 200s linear infinite;
  -ms-animation: move-clouds-back 200s linear infinite;
  -o-animation: move-clouds-back 200s linear infinite;
  -webkit-animation: move-clouds-back 200s linear infinite;
  animation: move-clouds-back 200s linear infinite;
}

/* Config form */

.configForm {
  display: flex;
  align-items: center;
  justify-content: center;
}

.configFormDark {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}

.select {
  min-width: 600px;
  margin-right: 10px;
}

.categoriesCheckbox {
  margin-right: 10px;
}

.configForm input[type='checkbox'] {
  transform: scale(1.5);
  margin-right: 10px;
}

.configFormDark input[type='checkbox'] {
  transform: scale(1.5);
  margin-right: 10px;
}
