html,
body {
  background: #b567f9;
  background: radial-gradient(
    circle,
    rgba(181, 103, 249, 1) 70%,
    rgba(59, 148, 224, 1) 100%
  );
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@font-face {
  font-family: 'JeanSunHo Medium';
  font-style: normal;
  font-weight: normal;
  src: url('/fonts/JeanSunHo.woff');
}

.react-select-dark__control {
  background-color: #303030 !important;
}

.react-select-dark__menu {
  background-color: #303030 !important;
}

.react-select-dark__multi-value {
  background-color: #404040 !important;
}

.react-select-dark__multi-value__label {
  color: #fff !important;
}

.react-select-dark__multi-value__remove {
  color: #000;
}

.react-select-dark__option {
  background-color: #303030 !important;
}

.react-select-dark__option:hover {
  background-color: #404040 !important;
}

.react-select-dark__option:focus {
  background-color: #404040 !important;
}

.react-select-dark__option:active {
  background-color: #404040 !important;
}
